<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://cosmostarofin.documents.azure.com:443/" />
    <add key="PrimaryKey" value="cnUhrYQzFZfryQfJsn8fopqFkzTcQuhW8Etg7u2qkuR0CnNcLaPV9qXS6qcrILb967FPP0qwckLqspUxYbKNag==" />
    <add key="LineEndPoint" value="https://linebotnotification.azurewebsites.net/api/linebot/push" />
  </appSettings>
</configuration>